version: '2'
services:
  mlops:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
      - "5000:5000"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps

  download-data:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda /opt/steps/
      -P steps=download
      """

  perform-eda:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda /opt/steps/src/eda
      """

  basic-cleaning:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda /opt/steps/
      -P steps=basic_cleaning
      """

  data-check:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda /opt/steps/
      -P steps=data_check
      """

  data-split:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda /opt/steps/
      -P steps=data_split
      """

  train-model:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda /opt/steps/
      -P steps=train_random_forest
      """

  optimize-hyperparams:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise ;
      mlflow run --no-conda /opt/steps/
      -P steps=train_random_forest
      -P hydra_options='hydra/launcher=joblib
       modeling.max_tfidf_features=10,15,30
       modeling.random_forest.max_features=0.1,0.33,0.5,0.75,1.0 -m'
      """

  test-model:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda /opt/steps/
      -P steps=test_regression_model
      """

  test-on-new-data:
    image: udacity/mlops_tests
    container_name: mlops_tests
    user: root
    mem_limit: 6G
    mem_reservation: 256M
    cpus: 2
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - ./scripts:/opt/scripts
      - ./steps:/opt/steps
    command: >
      bash -c """
      source activate mlops_exercise
      && mlflow run --no-conda https://github.com/ucaiado/mlops-ml-pipeline-rental-prices.git#steps
      -v main
      -P hydra_options="etl.sample='sample2.csv'"
      """